
/* site.css */
* {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  margin: 0;
  padding: 0;
  margin: 0;
}

header, footer {
  background-color: white;
  border: solid 1px black;
  border-radius: 10px;
  padding: 10px;
}

header a {
  font-size: 20px;
  font-weight: 300;
  padding-left: 50px;
  padding-right: 50px;
}

footer {
  padding: 10px;
}

.align-center-2 {
  width: 100%;
}

body {
  font-family: verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color:  #3a5dae;
}

.bordered-element, .search-result {
  border: solid 1px #444;
  border-radius: 2px;
  margin:5px;
  padding:5px;
}

.blog-post {
  border: solid 1px #444;
  border-radius: 2px;
  margin:5px;
  padding: 10px;
  float:left;
}

.copy {
  border: dotted 1px #444;
  border-radius: 2px;
  margin: 10px;
  display:inline-block;
}

.content {
  margin: 10px;
  display:inline-block;
}

#main {
  border: solid 1px #ccc;
  border-radius: 5px;
  color: #202020;
  margin: 20px 0;
  padding: 10px;
  background-color:white;
  overflow:hidden;
}

.contact-form {
  padding: 5px;
}

.simple-form {
  padding: 5px;
  width: 20%;
  float:left;
}

.simple-form label, .contact-form label {
  font-weight: bold;
  padding:3px;
  display: inline-block;
}

.info-header {
  text-align: center;
  padding:20px;
}

.results {
  float:right;
  padding: 2px;
  width:75%;
}


input[type=submit] {
  background-color: #4682B4;
  font-weight: bold;
  color: white;
  border-radius: 15px;
  padding: 4px;
  width: 10%;
}

input[type=tel] {
  width:50%;
}

.simple-form input[type=text],
.simple-form select,
.simple-form input[type=password],
.simple-form textarea {
  display: inline-block;
  width: 50%;
}
.simple-form input[type=submit] {
  width: 25%;
}


.ui-input-text,
.ui-select {
  display:inline-block;
  width:50%;
}
header input[type=submit] {
  width: 25%;
}


.container {
  margin: 0 auto;
  background-color: white;
  padding: 5px;
}


header nav {
  color: #3a5dae;
  display: inline;
}

header nav li {
  display: inline;
  font-size: 16px;
}

.top-nav {
  display:flex;
  justify-content:center;
  align-items:center;
}

a {
  color: #3a5dae;
  padding: 2px;
}

h1 {
  margin-left:30px;
  font-size: 300%;
}

h2 {
  font-size:150%;
  margin:5px;
  padding:10px;
}
div {
  font-family: verdana
}

div > label{
  margin-left:0px;
  font-family: verdana
}

label
{
  margin-left:30px;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
  width: 80%;
}

/*
Below is an HTML5/CSS sticky footer implementaiton. No terms, licesnses, fees, or requirements required.
Sticky Footer by Ryan Fiat
http://ryanfiat.com/html5-sticky-footer/
*/

hmtl, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

.push {
  height: 90%;
};

/*FORM RESPONSIFICATION BELOW

  CSS below is for Assignment 3, making a responsive contact form
*/


.field label {
  display: block;
  text-align: right;
  display: inline-block;
  vertical-align: baseline;
}

@media screen and (max-width: 400px) {
  .field label {
    width: auto;
    text-align: left;
    display: block;
  }

  .simple-form, .results {
    margin: auto;
    float:none;
    width:100%;
    margin-top: 10px;
  }

  .top-nav {
    display: block;
    justify-content:center;
    align-items:center;
  }

  header button {
    display: block;
    padding-left: 3px;
    padding-right: 3px;
  }
  textarea, input {
  width: 100%;
  }

  input[type=submit] {
  background-color: #4682B4;
  font-weight: bold;
  color: white;
  border-radius: 15px;
  padding: 4px;
  width: 50%;
}

}







